body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.grid-cell {
    width: 10%;
    height: 10%;
}

#grids {
    position: absolute;
    z-index: 10;
    font-size: 0;
}

.grid-cell {
    display: inline-flex;
    background-color: rgba(172, 255, 47, 0);
    outline: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

#game-container {
    min-width: 600px;
    background-image: url('grass.jpg');
    background-repeat: repeat;
    background-size: 200px;
    outline: 1px solid rgba(0, 0, 0, 1);
}

#object {
    background-color: rgb(0, 140, 255, 0);
    position: relative;
    transition: left 0.3s ease, top 0.3s ease;
    /* font-size: 20px; */
    text-align: center;
}

#wall {
    position: absolute;
    font-size: 10px;
    background-image: url('forest.png');
    background-size: 50px;
}

#btn-canvas {
    position: relative;
    width: 300px;
    height: 150px;
    
}