body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.grid-cell {
    width: 10%;
    height: 10%;
}

#grids {
    position: absolute;
    z-index: 10;
    font-size: 0;
}

.grid-cell {
    display: inline-flex;
    background-color: rgba(172, 255, 47, 0);
    outline: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

#game-container {
    
    background-image: url('grass.jpg');
    background-repeat: repeat;
    background-size: 200px;
    outline: 1px solid rgba(0, 0, 0, 1);
}

#object {
    background-color: rgb(0, 140, 255, 0);
    position: relative;
    transition: left 0.3s ease, top 0.3s ease;
    /* font-size: 20px; */
    text-align: center;
    z-index: 100;
    margin: 2px 0;
}

#wall {
    position: absolute;
    font-size: 10px;
    background-image: url('forest.png');
    background-size: 50px;
}

#btn-canvas {
    position: relative;
    width: 300px;
    height: 150px;
    
}

.hide {
    display: none;
}

#fullscreen-element {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff; /* Колір фону може бути на ваш вибір */
}

#items {
    position: absolute;
    z-index: 15;
}

.apple {
    position: absolute;
    width: 30px;
    background-color: grey;
    font-size: 32px;
    left: 60px;
}

.player-view {
    position: absolute;
    background-color: white;
    border-radius: 6px;
    border: 3px solid green;
}
#info-cloud {
    position: absolute;
    background-color: white;
    border-radius: 6px;
    border: 3px solid green;
    padding: 4px 10px;
    z-index: 10;
}

.use-btn {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}